{
  "plugins": ["@babel/plugin-transform-flow-comments"],
  "env": {
    "es5": {
      "presets": [
        ["@babel/preset-env", { "targets": { "browsers": ["last 2 versions", "ie >= 11"] } }]
      ]
    }
  }
}
